@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url(wallpaper.jpg) no-repeat center;
  background-size: cover;
  -webkit-animation: backgroundZoomAnimate 20s forwards;
          animation: backgroundZoomAnimate 20s forwards;
}

@-webkit-keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.profile-card {
  box-shadow: 0px 18px 200px -60px black;
  border-radius: 50px;
  width: 650px;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  padding: 3rem 5rem;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .profile-card {
    width: auto;
  }
}
.profile-card__img img {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  box-shadow: 0px 10px 60px -10px rgba(13, 28, 39, 0.5);
}
.profile-card__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  /*gap: 25px;*/
}
.profile-card__desc h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.profile-card__desc h1 + div {
  font-size: 20px;
}
.profile-card__info {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 1rem;
}
@media screen and (max-width: 576px) {
  .profile-card__info {
    gap: 30px;
  }
}
.profile-card__info > div {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.profile-card__info > div > *:first-child {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1rem;
  /*margin-bottom: 15px;*/
}
.profile-card__info > div > *:last-child {
  font-size: 12px;
  opacity: 0.7;
}
.profile-card__location {
  padding-top: 2rem;
}
.profile-card__social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.profile-card__social a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  margin: 15px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card__social a {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
}
@media screen and (min-width: 576px) {
  .profile-card__social a:hover {
    transform: scale(1.2) translateY(-5px);
  }
}
.profile-card__social a.github {
  background: linear-gradient(45deg, #000000, #747575);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.instagram {
  background: linear-gradient(45deg, #5851db, #833ab4, #c13584, #e1306e, #fd1d1d);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.linkedin {
  background: linear-gradient(45deg, #2b3e66, #0078d7);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__social a.mail {
  background: linear-gradient(45deg, #3bd7f3, #0078d7);
  box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}
.profile-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
@media screen and (max-width: 576px) {
  .profile-card__actions {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.profile-card__actions > button {
  font-weight: bold;
  font-size: 14px;
  /*padding: 15px 0;*/
  min-width: 150px;
  min-height: 30px; /*<<<>>>*/
  border-radius: 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card__actions > button {
    min-width: 170px;
  }
}
@media screen and (max-width: 576px) {
  .profile-card__actions > button {
    min-width: inherit;
    width: 100px;
    max-width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .profile-card__actions > button:hover {
    transform: translateY(-5px);
  }
}
.profile-card__actions > button.message {
  background: linear-gradient(45deg, #000000, #747575);
  box-shadow: 0px 4px 30px rgba(78, 78, 78, 0.4);
}
.profile-card__actions > button.message:hover {
  box-shadow: 0px 7px 30px rgba(150, 150, 150, 0.75);
}

.images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.images img {
  filter: grayscale(70%);
  -o-object-fit: cover;
     object-fit: cover;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */